:root {
  --accentcolour: #857251;
  --accentlight: rgba(206, 169, 100, 1);
  --accentlighter: lighten(#cea964, 20);
  --accentdarker: darken(#857251, 20);
  --accentcolour-gradient: linear-gradient(rgba(206, 169, 100, 0), rgba(206, 169, 100, 1), rgba(206, 169, 100, 0));
  --accentmedium: #a28d67;
  --base-video-sz-unit: 3rem;
  --text-size: 1.2rem;
  --h-colour: #857251;
  --bg-colour: white;
}

@font-face {
  font-family: DecoBorders;
  src: local("DecoBorders"), url("/common/fonts/Decoborders-W0R9.woff") format("woff");
}
@font-face {
  font-family: CharisSIL;
  src: local("Charis SIL"), local("Charis-SIL"), url("/common/fonts/CharisSIL-Regular.woff") format("woff");
}
@font-face {
  font-family: CharisSIL;
  font-style: italic;
  src: local("Charis SIL Italic"), local("Charis-SIL-Italic"), url("/common/fonts/CharisSIL-Italic.woff") format("woff");
}
@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  src: local("Charis SIL Bold"), local("Charis-SIL-Bold"), url("/common/fonts/CharisSIL-Bold.woff") format("woff");
}
@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  font-style: italic;
  src: local("Charis SIL Bold Italic"), local("Charis-SIL-Bold-Italic"), url("/common/fonts/CharisSIL-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  src: local("Lato"), url("/common/fonts/Lato_Regular.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-style: italic;
  src: local("Lato Italic"), local("Lato-Italic"), url("/common/fonts/Lato_Italic.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-weight: bold;
  src: local("Lato Bold"), local("Lato-Bold"), url("/common/fonts/Lato_Bold.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-weight: bold;
  font-style: italic;
  src: local("Lato Bold Italic"), local("Lato-Bold-Italic"), url("/common/fonts/Lato_BoldItalic.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-weight: 1000;
  src: local("Lato Black"), local("Lato-Black"), url("/common/fonts/Lato_Black.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-weight: 1000;
  font-style: italic;
  src: local("Lato Black Italic"), local("Lato-Black-Italic"), url("/common/fonts/Lato_BlackItalic.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-weight: 200;
  src: local("Lato Light"), local("Lato-Light"), url("/common/fonts/Lato_Light.woff") format("woff");
}
@font-face {
  font-family: LatoFont;
  font-weight: 200;
  font-style: italic;
  src: local("Lato Light Italic"), local("Lato-Light-Italic"), url("/common/fonts/Lato_LightItalic.woff") format("woff");
}
@font-face {
  font-family: FiraCode;
  src: local("Fira Code"), local("Fira-Code"), url("/common/fonts/FiraCode-Regular.woff") format("woff");
}
header {
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  z-index: 1;
  transition: background 0.5s, box-shadow 0.5s;
  display: flex;
  flex-direction: row;
  height: 4rem;
  line-height: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--nav-box-shadow, none);
  --nav-a-colour: white;
}
header a:hover, header .a-active, header #page_other:hover {
  background: white;
  color: #857251;
}
header a:hover:visited, header .a-active:visited, header #page_other:hover:visited {
  color: #857251;
}
header img {
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
header a, header #page_other {
  transition: background 0.5s, color 0.5s;
  color: var(--nav-a-colour);
}
header a:visited, header #page_other:visited {
  color: var(--nav-a-colour);
}

#page_index {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#page_index * {
  padding-right: 0.5rem;
}
#page_index:hover {
  background: white;
  color: #857251;
}
#page_index img {
  padding: 0 0.5rem;
}
#page_index a {
  text-align: center;
  height: 100%;
  line-height: 3rem;
  font-weight: bold;
  display: flex;
}

nav {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: row;
  margin: 0;
}
nav a, nav #page_other {
  line-height: 4rem;
  text-align: center;
  min-width: 8rem;
  padding: 0 0.5rem;
}

#languages-drop-down {
  position: relative;
}
#languages-drop-down:hover #languages-drop-down-content {
  display: flex;
  min-width: 9rem;
}
#languages-drop-down a {
  display: inline-block;
}
#languages-drop-down div a {
  text-align: left;
  padding-left: 1.5rem;
  padding-right: -0.8rem;
  min-width: 7rem;
}

#languages-drop-down-content {
  background: #1e1e1e;
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 2;
  top: 4rem;
}
#languages-drop-down-content a {
  line-height: 2rem;
  margin-left: 0;
}

#icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
  padding-right: 1rem;
  padding-bottom: 1rem;
  bottom: 0;
  right: 0;
  position: absolute;
}
#icons img {
  height: 2rem;
  margin: 0;
}
#icons a + a {
  margin-left: 1rem;
}

#hamburger-container {
  display: none;
  width: 4rem;
  transition: background 0.5s, color 0.5s;
}
#hamburger-container:hover {
  background: white;
  color: #857251;
  cursor: pointer;
}
#hamburger-container:hover svg rect {
  fill: #857251;
}

#hamburger rect {
  fill: var(--nav-a-colour);
}

#other-collapsable {
  display: contents;
}

#page_other {
  display: none;
}
#page_other:hover {
  cursor: pointer;
}

@media (min-width: 1250px) {
  .drop-down-content-centre {
    width: max-content;
    text-align: center;
    left: -50%;
    transform: translateX(10%);
  }

  .other-drop-down {
    position: relative;
  }
  .other-drop-down:hover .other-drop-down-content {
    display: flex;
    min-width: 9rem;
  }
  .other-drop-down:hover .child-element {
    min-height: 2.5rem;
    line-height: 2.5rem;
  }
  .other-drop-down a {
    display: inline-block;
  }
  .other-drop-down div a {
    text-align: left;
    padding-left: 1.5rem;
    padding-right: -0.8rem;
    min-width: 7rem;
  }

  .other-drop-down-content {
    background: #1e1e1e;
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 2;
    top: 4rem;
  }
  .other-drop-down-content a {
    line-height: 2rem;
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  #page-index-text {
    display: none;
  }

  #page_index {
    width: auto;
  }

  #banner {
    height: 14rem;
  }
  #banner svg {
    padding: 0 0.5rem;
  }

  #hamburger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    right: auto;
    left: 0;
    top: 4rem;
    display: none;
    background: #1e1e1e;
    flex-direction: column;
    text-align: left;
  }
  nav a {
    text-align: left;
    line-height: 2.5rem;
  }

  h1 {
    top: 4rem;
    font-size: 2.5rem;
  }

  #h1-underline {
    top: 7rem;
    border: 0.2em solid #cea964;
  }

  #icons img {
    height: 1.5rem;
  }

  #languages-drop-down a, .other-drop-down a {
    text-align: left;
  }
  #languages-drop-down > a, .other-drop-down > a {
    width: calc(100% - 1rem);
  }
  #languages-drop-down div a, .other-drop-down div a {
    padding-left: 2rem;
  }

  #languages-drop-down-content, .other-drop-down-content {
    position: static;
    left: 7rem;
    display: flex;
  }
  #languages-drop-down-content a, .other-drop-down-content a {
    padding-left: 3rem;
  }

  #other-collapsable a {
    display: inline-block;
  }

  #icons {
    right: revert;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1250px) and (min-width: 800px) {
  #page_other {
    display: block;
  }

  #other-collapsable {
    flex-direction: column;
    position: absolute;
    background: #1e1e1e;
    text-align: left;
    right: 0;
    top: 4rem;
  }
  #other-collapsable a {
    text-align: left;
    line-height: 2.5rem;
  }

  .other-drop-down a {
    display: inline-block;
    width: 100%;
  }

  .other-drop-down-content a {
    line-height: 2rem;
  }
}

/*# sourceMappingURL=banner.css.map */
